.u-center-text { text-align: center !important; }

.u-margin-bottom-small { margin-bottom: 1.5rem !important; }
.u-margin-bottom-medium { margin-bottom: 4rem !important; }
.u-margin-bottom-big { margin-bottom: 8rem !important; }

.u-margin-top-small { margin-top: 1.5rem !important; }
.u-margin-top-medium { margin-top: 4rem !important; }
.u-margin-top-big { margin-top: 8rem !important; }
.u-margin-top-huge { margin-top: 10rem !important; }

.u-flex { display: flex !important; }
.u-flex-center-horaizental { align-items: center !important; }
.u-flex-center-vertical { justify-content: center !important; }
.u-space-between { justify-content: space-between !important; }
.u-flex-column { flex-direction: column !important; }